# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# YOLO model weights
*.pt
*.pth
*.weights

# Data files
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.jpeg
*.png
*.h5
*.npy
*.npz
*.sh
*.md

# Logs and debugging information
logs/
*.log
*.log.*

debug/
*.debug

# Temporary files
temp/
tmp/
*.tmp
*.temp

# Virtual environments
venv/
.env
.env.*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/
*.code-workspace



# =================================
# Exceptions
# =================================

!requirements.txt
!assets/*
